@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* body {
  padding: 0;
  margin: 0;
  background-color:#ffffff;
  background-image: radial-gradient(
    #cecece 6px,
    transparent 6px
  );
  background-size: 60px 60px;
  animation: moveDots 5s linear infinite, pulsate 2s linear infinite;
} */

/* @keyframes moveDots {
  0% {
    background-position: 60px 60px;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes pulsate {
  0% {
    background-color: 6px 6px;
  }
  100% {
    background-size: 10px 10px;
  }
} */